# Part 1: Mathematical Operations

In the last section we talked about data types. Here we are going to review
some mathematical operations. Mathematical operations allow us to operate on variables
using ideas we already know from math like: '+', '-', '*', etc

In [1]:
# Let's define some variables first
x = 5
y = 7
c = 1.5
d = 2.0
string1 = 'Hello'
string2 = 'World'

### The add and substract operator
We can add things very easily by using '+', now we are going to be wrapping things in print so you can see

In [2]:
x + y

12

In [3]:
c + d

3.5

We can also add strings together if we want

In [4]:
string1 + string2

'HelloWorld'

Notice how they get smashed together, if we want a space in between we have to explicitly add one

In [5]:
string1 + ' ' + string2

'Hello World'

We can also add data floating point to integer if we want

In [6]:
x + c

6.5

We can also subtract

In [9]:
y - x

2

In [10]:
d - c

0.5

However substract doesn't work with strings it yields an error

In [11]:
string1 - string2

TypeError: unsupported operand type(s) for -: 'str' and 'str'

### Multiply and Divide
Multiply and divide works just like a calculator as well

In [12]:
# Let's define some variables first
x = 15
y = 3
c = 12.0
d = 0.5

In [13]:
y * x

45

In [14]:
x / y

5.0

In [16]:
c * d

6.0

In [17]:
c / d

24.0

In [18]:
d * x

7.5

We can also do funny stuff with strings and multiply. Since remember that multiply is really just adding something
to itself. Here we add hello to itself 3 times

In [20]:
'hello ' * 3

'hello hello hello '

In [21]:
string1 = 'hello '
m = 3

In [22]:
string1 * m

'hello hello hello '

### Power Operator

Using \*\* as an operator signals to raise something to the power of something else

In [23]:
x = 2
y = 5
d = 0.5

In [27]:
5 ** 2

25

In [24]:
x ** 2

4

In [25]:
x ** y

32